body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: black;
}

#container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;
}

#canvas {

}

#bFullScreen {
  position: absolute;
  left: 20px;
  top: 200px;
  z-index: 999;
}