body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: gray;
}

#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: scroll;

  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;
}

#container > div {
  border: 1px solid red;
}

#game {

}

